
h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}
hr{
 color:GREEN;	
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}
submitLink:focus {
  outline: none;
}
.tablecontainer{
	width:70%;
	overflow-y: scroll; 
	height:400px;	
	border:1px dotted #dddddd; 
	margin:0 auto;
}
.tablecontaineradd{
	width:70%;
	overflow-y: scroll; 
	height:40px;	
	border:1px dotted #dddddd; 
	margin:0 auto;
}
.leftmenu{
    width:220px;
    border-right:1px solif black;
    float:left;	
    text-align: center;
    color:white;
}
.menu_title{
	hight:24px;
	width:90%;
	background:#4BBF93;
}
 /* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}