<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
	<div class="container">
		<div class="starter-template">
			<h1>
				<center>POD DB CURD operation</center>
			</h1>
			<hr />
			<!-- <div class="leftmenu">
			   <div class="menu_title">
			   Database</div>
			</div> -->
			<div class="tablecontainer">
				<table>
					<tr>
						<th>Id</th>
						<th>Service Name</th>
						<th>Service Desc</th>
						<th>Actions</th>
					</tr>
					<tr th:each="prods,iterStat : ${prod}"
						th:class="${iterStat.odd}? 'odd'">
						<form action="/update" method="post">
						<td><input type="text" readonly="true" id="id" name="id"
							th:value="${prods.id}" />
						</td>
						<td><input type="text" id="sn" name="sn"
							th:value="${prods.serviceName}" />
						</td>
						<td><input type="text" id="ss" name="ss"
							th:value="${prods.serviceStatus}" />
						</td>
						<td><input type="submit" class="submitLink" value="Update" />
							| <a th:href="@{/delete/?(id=${prods.id})}"><span>Delete</span>
						</a>
						</td>
						</form>
					</tr>
				</table>
			</div>
			<hr />
			<div class="tablecontaineradd">
				<table>
					<tr>
						<form action="/update" method="post">
							<td><input type="text" id="sn" name="sn"
								value="Service Name" onfocus="if(this.value == 'Service Name') {this.value=''}" onblur="if(this.value == ''){this.value ='Service Name'}" />
							</td>
							<td><input type="text" id="ss" name="ss"
								value="Service State" onfocus="if(this.value == 'Service State') {this.value=''}" onblur="if(this.value == ''){this.value ='Service State'}"/>
							</td>
							<td><input type="submit" class="submitLink"
								value="Add new record" /></td>
						</form>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>