<!-- toolbar start -->
<md-toolbar color="accent">
  <button md-icon-button>
    <md-icon>menu</md-icon>
  </button>
  <span>SAMPLE DB CURD OPERATION</span>
  <span flex></span>
  <button md-icon-button>
    <md-icon>search</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
<!-- toolbar end -->


<md-grid-list cols="5">
  <md-grid-tile colspan="1" rowspan="2" >
   <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>
     <button md-mini-fab color="accent">
  <md-icon>add</md-icon>
</button><span>Service</span>
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content class="push-bottom-none">
    <form #featureForm="ngForm">
      <div layout="row">
        <md-input-container flex>
          <input md-input
                  #titleElement
                  #titleControl="ngModel" 
                  type="text" 
                  placeholder="Service Name" 
                  [(ngModel)]="title" 
                  name="title" 
                  maxlength="20" 
                  required>
          <md-hint align="start">
            <span [hidden]="titleControl.pristine || !titleControl.errors?.required" class="tc-red-600">Required</span>
          </md-hint>
          <md-hint align="end">{{titleElement.value.length}} / 20</md-hint>
        </md-input-container>
      </div>
      <div layout="row" class="push-top">
        <md-input-container flex>
          <input md-input
                  #userElement
                  #userControl="ngModel"
                  type="text" 
                  placeholder="Service Description" 
                  [(ngModel)]="user" 
                  name="user"
                  maxlength="30"
                  required>
          <md-hint align="start">
            <span [hidden]="userControl.pristine || !userControl.errors?.required" class="tc-red-600">Required</span>
          </md-hint>
          <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
        </md-input-container>
      </div>
       <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" (click)="save()">SAVE</button>
      
    </md-card-actions>

    </form>
    </md-card-content>
     </md-card>
  </md-grid-tile> 
  <md-grid-tile colspan="3" rowspan="2" [style.background]="''">

   <table td-data-table>
  <th td-data-table-column
      *ngFor="let column of columns"
      [numeric]="column.numeric">
    {{column.label}}
  </th>
    <th td-data-table-column>
    <md-icon>comment</md-icon>
    <span>Actions</span>
  </th>

  <tr td-data-table-row *ngFor="let row of basicData">
    <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
      {{column.format ? column.format(row[column.name]) : row[column.name]}}
    </td>
    <td td-data-table-cell >
      <!-- <button md-button [class.md-accent]="!row['comments']" (click)="openConfirm(row, 'comments')"> -->
        <md-icon (click)="openConfirm(row, 'comments')" [class.md-accent]="!row['comments']">delete</md-icon>
      <!-- </button> -->
     <!--  <button md-button [class.md-accent]="!row['comments']" > -->
      <md-icon (click)="openPrompt(row, 'comments')">edit</md-icon>
     <!--  </button> -->
    </td>

  </tr>
</table>
  </md-grid-tile>

</md-grid-list>




